html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #0D0D0D;
  color: #FFFFFF;
}


.main-content {
  flex: 1;
}

.navbar-personalizada {
  background-color: #1F1F1F !important;
  height: 125px;
  top: 0px;
  color: white;
}



.foto-perfil {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #00BFFF;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}
.foto-perfil:hover {
  transform: scale(1.05);
}


.sobre {
  top: 40px;  
  background-color:black;
  color: black;
  border-radius: 8px;
  padding: 20px;
}


header {
  background-color: #1F1F1F;
  color: #1F1F1F;
  text-align: center;
  border-bottom: 1px solid #3E8EDE;
}

#projetos .projeto {
  background-color: #FFFFFF;
  color: #1F1F1F;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #3E8EDE;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.a {
  color: #3E8EDE;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #2F6DB7;
}
.bg-white {
  background-color: #1F1F1F !important;
}

.redes-sociais a {
  color: #00BFFF;
  font-size: 35px;
  transition: 0.3s;
  margin-right: 15px;
}


.footer{
 top: 100px;
  text-align: center;

}